// Place all the styles related to the individual_shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#calendar{
    z-index: 1;
}

//確定ボタン
.submit{
    padding: 20px 0;
    text-align: right;
}